# Core functionality - changes here should be rare!
/src/app.py                   @knuthgr
/src/backend/database.py      @knuthgr
/src/backend/routers/auth.py  @knuthgr

# The frontend will need refactored soon to be more object oriented.
/src/static/   @knuthgr
